.article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    margin: 0 auto;

    * {
        margin-bottom: 1rem;
    }

    .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 800px;

        .tag-list {
            margin-bottom: 0.5rem;
            width: 100%;
            
            .tag-item {
                border-radius: 1rem;
                background-color: var(--gray-color);
                display: inline-block;
                padding: 0.5rem 0.8rem;
                margin-right: 1rem;
            }   
        }
    
        .title {
            font-size: 2rem;
            font-weight: 700;
        }
        
        .published {
            font-size: 0.8rem;
            font-weight: 600;
        }
    
        .post { 
            h1 {
                font-size: 2rem;
                margin-top: 2rem;
            }

            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }

            p > code, li > code {
                color: #e83e8c;
                background-color: var(--gray-color);
                padding: 0.2rem 0.4rem;
                border-radius: 0.2rem;
            }
        
            pre > code {
                border-radius: 0.4rem;
            }
        
            ul {
                padding-left: 1.5rem;
        
                li {
                    list-style-type: disc;
                }
            }

            ol {
                padding-left: 1.5rem;
                
                li {
                    list-style-type: decimal;
                }
            }
        
            a {
                color: #0000EE;
                
                &:hover {
                    text-decoration: underline #0000EE;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .article-wrapper {
        .article {
            width: 100%;
            padding: 0 1rem;
            margin-left: 0;
        }
    }
}

@media (max-width: 1400px) {
    .article-wrapper {
        .article {
            padding: 0 1rem;
            margin-left: 0;
        }
    }   
}

@media ( min-width: 1400px ) {
    .article-wrapper {
        .article {
            width: 1200px;
        }
    }
}