.main-button {
  background-color: var(--main-color);
  color: var(--white-color);
}

.hamburgerButton {
  background-color: transparent;
  border: none;
}

.pagination {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;

  .divider {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
