.sidenav-wrapper .button-sidenav {
    background-color: transparent;
    border: none;
    position: absolute;
    left: calc(100% + 10px);
    top: 70px;
}

.sidenav-wrapper {
    position: fixed;
    background-color: #000;
    transition: 0.3s;
    height: 100%;
    z-index: 10;
}

.sidenav-trick {
    display: inline-block;
}

.sidenav {
    padding-top: 60px;
}

button svg {
    width: 2rem;
    height: 2rem;
    color: #fff;

    &:hover {
        cursor: pointer;
    }
}

.sidenav li {
    margin-bottom: 0.8rem;
    transition: 0.3s;

    &:hover {
        background-color: rgb(255, 255, 255, 0.8);
    }
}

.sidenav li a{
    display: block;
    padding: 1rem;
    height: 100%;
    font-size: 0.8rem;
    color: #fff;
}

@media (max-width: 1200px) {
    .sidenav-wrapper, .sidenav-trick {
        width: 0;
    }

    .sidenav {
        display:none
    }

    .sidenav-open, .sidenav-wrapper-open, .sidenav-trick-open {
        display: block;
        width: 200px;
    }
}

@media( min-width: 1200px) {
    .sidenav-wrapper, .sidenav-trick {
        width: 200px;
    }

    .button-sidenav {
        display: none;
    }
}