.sidenav-wrapper  {
    right: 0;
    position: fixed;
    background-color: #000;
    transition: 0.3s;
    height: 100%;
    z-index: 10;

    .sidenav {
        display: none;
        padding-top: 60px;

        li {
            margin-bottom: 0.8rem;

            .sub-category-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                height: 100%;
                color: #fff;
            }

            .sub-category {
                a {
                    padding-left: 2rem;
                    font-size: 0.8rem;
                }
            }

            a, .sub-category {
                display: block;
                padding: 1rem;
                height: 100%;
                color: #fff;
            }
        }

        li > a, .sub-category > li > a {
            display: block;
            padding: 1rem;
            height: 100%;
            color: #fff;
        }
    }

    .button-sidenav-wrapper {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        
        left: calc(100% + 10px);
        top: 70px;
        border-radius: 10rem;
        width: 2rem;
        padding: 1rem;
        height: 2rem;

        :active {
            transition: 0.3s;
            background-color: var(--gray-color);
        }

        .button-sidenav {
            font-size: 1rem;
            border: none;
            background-color: transparent;
        }
    }

    .sub-category > li > a, .sidenav li .sub-category-header {
        transition: 0.3s;
    
        &:hover {
            background-color: rgb(255, 255, 255, 0.8);
            cursor: pointer;
        }
    }

    .sidenav-open, .sidenav-wrapper-open, .sidenav-trick-open {
        display: block;
        width: 200px;
    }
}