.navigation {
    background-color: var(--black-color);

    .wrapper {
        display: flex;
        width: 100%;
        padding: 0 1rem;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        color: var(--white-color);
    }

    ul > li {
        font-weight: 600;
        font-size: 1.2rem;

        a {
            display: inline-block;
            padding: 0.8rem 0 0.8rem;
        }
    }
}

@media (max-width: 768px) {
    .navigation {
        .wrapper {
            width: 100%;
            padding: 0 1rem;
        }
    }
}

@media (min-width: 1200px) {
    .navigation {
        .wrapper {
            width: 1200px;
            padding: 0 1rem;
        }
    }
}