.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    margin: 0 auto;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 800px;
    
    * {
        margin-bottom: 1rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 700;
    }
    
    .published {
        font-size: 0.8rem;
        font-weight: 600;
    }

    p > code {
        color: #e83e8c;
        background-color: var(--gray-color);
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }

    pre > code {
        border-radius: 0.4rem;
    }
}

@media (max-width: 800px) {
    .post {
        width: 100%;
        padding: 0 1rem;
        margin-left: 0;
    }
}

@media (max-width: 1400px) {
    .post {
        padding: 0 1rem;
        margin-left: 0;
    }
}

@media ( min-width: 1400px ) {
    .post {
        width: 1200px;
        margin-left: 200px;
    }
}